.kanban_color_picker {
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.o_kanban_record {
    overflow: visible !important;
}

/* dashboard css */

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.dashboard-card {
    height: 110px; /* same height for all */
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}