.kanban_color_picker {
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.o_kanban_record {
    overflow: visible !important;
}
.kanban_timer {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-weight: bold;
    color: #28a745;
}

/* dashboard css */

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.dashboard-card {
    height: 110px; /* same height for all */
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.custom-card {
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: white !important;
}
.custom-card .text-muted {
    color: rgba(255,255,255,0.8) !important;
}

/* GRADIENT COLORS */
.bg-gradient-blue {
    background: linear-gradient(45deg, #184d7a, #0fc4cd);
    color: white;
}

.bg-gradient-green {
    background: linear-gradient(45deg, #2fa055, #0b3a29);
    color: white;
}

.bg-gradient-yellow {
    background: linear-gradient(45deg, #9d7f1a, #8f3d27);
    color: white;
}

.bg-gradient-purple {
    background: linear-gradient(45deg, #442b7e, #8d1a6c);
    color: white;
}

.bg-gradient-red {
    background: linear-gradient(45deg, #78212f, #550d2b);
    color: white;
}
.o_content,
.o_action_manager {
    overflow-y: auto !important;
}

.bar-chart-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* //todoooo */

.todo-scroll {
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin; 
}

/* Chrome scroll style */
.todo-scroll::-webkit-scrollbar {
    width: 6px;
}

.todo-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.todo-scroll::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.circle-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border: 2px solid #786c6c;
    border-radius: 50%;

    font-weight: 600;
}
/* timer css */
.custom_timer_header {
    position: relative;
}

.custom_timer_header .my_timer {
    position: absolute;
    right: -230px;
    top: 0;
}