.o_category_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.s_dynamic_category_item {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.o_category_image {
    object-fit: cover;
}