.o_portal_docs_entry {
    display: flex;
    align-items: center;
}

.o_portal_docs_entry img {
    width: 64px !important;
    height: 64px !important;
    object-fit: contain;
}

/* SVG fix */
.o_portal_docs_entry img[src$=".svg"] {
    width: 64px !important;
    height: 64px !important;
}


#appointment_top {
    scroll-margin-top: 120px;
}

#appointment_communication {
    scroll-margin-top: 120px;
}
#medical_info{
    scroll-margin-top: 120px;

}
html {
    scroll-behavior: smooth;
}


#globalLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    z-index: 99999;

    display: none;
    align-items: center;
    justify-content: center;
}

.loader-box {
    text-align: center;
    color: white;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}