// // Product grid size
// .pos .product-list {
//     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
// }

// // Product card height
// .pos .product {
//     min-height: 200px !important;
// }

// Product image
.pos .product-img img {
    height: 130px !important;
    object-fit: cover;
}

/*  REMOVE RATIO EFFECT */
.pos .product-screen .product-item .product-img.ratio {
    aspect-ratio: unset !important;
}

.pos .product-screen .product-item .product-img.ratio::before {
    display: none !important;
    padding-top: 0 !important;
}